*,
*::after,
*::before {
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

.division {
    width: 100%;
    height: 100px;
}

/*! NAVBAR-1 */
.header-1 {
    width: 100%;
    /* box-shadow: 5px 5px 10px rgb(227, 227, 227); */
    border-bottom: 1px solid rgb(187, 187, 255);
}

.navbar-1 {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: auto 150px;
    align-items: center;
    height: 70px;
}

.navbar-1-ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.navbar-1-ul li {
    cursor: pointer;
}

.navbar-1-ul li:hover {
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

.navbar-1-ul li:active {
    border-bottom: 1px solid rgb(187, 187, 255);
    margin-bottom: -1px;
}

.navbar-1-brand-name {
    font-size: 23px;
    font-weight: 800;
    cursor: pointer;
}

.navbar-1-sign-up-btn {
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(187, 187, 255);
    padding: 13px 23px;
    border-radius: 30px;
    color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}

.navbar-1-sign-up-btn:hover {
    background-color: rgb(173, 173, 253);
}

.navbar-1-sign-up-btn:active {
    background-color: rgb(149, 149, 250);
}


/*! NAVBAR-2 */
.header-2 {
    width: 100%;
    box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
    border-radius: 10px;
    position: relative;
}

.navbar-2 {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
    padding: 10px;
    color: #343434;
}

.navbar-2-brand-name {
    font-size: 23px;
    font-weight: 800;
    cursor: pointer;
    color: transparent;
    background-image: linear-gradient(45deg, #7a14c1, #d011aa);
    background-clip: text;
    opacity: 0.55;
    -webkit-background-clip: text;
    transition: color 0.1s ease;
    box-shadow: 0 0 0 0 linear-gradient(45deg, #7a14c1, #d011aa);
}

.navbar-2-sign-up-btn {
    font-weight: 700;
    cursor: pointer;
    color: transparent;
    background-image: linear-gradient(45deg, #7a14c1, #d011aa);
    background-clip: text;
    opacity: 0.55;
    -webkit-background-clip: text;
    transition: color 0.1s ease;
    box-shadow: 0 0 0 0 linear-gradient(45deg, #7a14c1, #d011aa);
    position: relative;
    transition: opacity 0.3s ease;
}

.navbar-2-sign-up-btn::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: conic-gradient(from 90deg at 20% -25%, #7a14c1, #d011aa);
    filter: blur(20px);
    transform: translate3d(-1px, 0px, -1px);
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-2-sign-up-btn:hover::after {
    opacity: 0.425;
}

.navbar-2-sign-up-btn:hover {
    opacity: 0.735;
}

.navbar-2-sign-up-btn:active {
    opacity: 1;
}

.navbar-2-ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    cursor: pointer;
}

.navbar-2-ul li:hover {
    color: transparent;
    background-image: linear-gradient(45deg, #7a14c1, #d011aa);
    background-clip: text;
    opacity: 0.75;
    -webkit-background-clip: text;
    transition: color 0.1s ease;
    box-shadow: 0 0 0 0 linear-gradient(45deg, #7a14c1, #d011aa);
}

/*! NAVBAR-3 */
.header-3 {
    width: 100%;
    box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
    position: relative;
    background-color: #343434;
    color: #fff;
}

.navbar-3 {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
    padding: 10px;
}

.navbar-3-brand-name {
    font-size: 23px;
    font-weight: 1000;
    cursor: pointer;
    color: #fff;
}

.navbar-3-ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    cursor: pointer;
    font-size: 15px;
    color: #ecebeb;
    font-weight: 500;
}

.navbar-3-ul li {
    transition: all 0.2s ease;
}

.navbar-3-ul li:hover {
    color: #d1d1d1;
}

.navbar-3-sign-up-btn {
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 140, 175);
    padding: 12px 30px;
    border-radius: 90px;
    transition: all 0.3s ease;
}

.navbar-3-sign-up-btn:hover {
    background-color: rgb(0, 128, 167);
}

.navbar-3-sign-up-btn:active {
    background-color: rgb(0, 116, 155);
}

/*! NAVBAR-4 */

.header-4 {
    width: 100%;
    box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
    position: relative;
    background-color: #343434;
    color: #fff;
}

.navbar-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 130px;
}

.navbar-4-ul {
    display: flex;
    gap: 50px;
}

.navbar-4-ul li {
    list-style: none;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar-4-brand-name {
    font-size: 24px;
    font-weight: 1000;
}

.navbar-4-sign-up-btn {
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 140, 175);
    padding: 12px 30px;
    border-radius: 90px;
    transition: all 0.3s ease;
}

.navbar-4-sign-up-btn:hover {
    background-color: rgb(0, 128, 167);
}

.navbar-4-sign-up-btn:active {
    background-color: rgb(0, 116, 155);
}

/*! Navbar 5 */
.navbar-5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}
.navbar-5-brand-name{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;    
}
.mslogo{
    width: 110px;
}
.logo-divider-line{
    width: 2px;
    height: 33px;
    background-color: #000;
}
.xboxlogo{
    width: 80px;
}
.navbar-5-ul{
    display: flex;
    gap: 30px;
}
.navbar-5-ul li{
    list-style: none;
}
.account{
    display: flex;
}
.account-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}

/*! Navbar 6 */

.navbar-6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-6-brand-name{
    padding: 20px 70px;
    box-shadow: 1px 0 15px #d7d7d7;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    font-weight: 800;
    color: #525252;
    text-wrap: nowrap;
}

.navbar-6-contents{
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 2px 15px #d7d7d7;
    padding: 5px 100px;
    border-radius: 20px 0 0 20px;
}
.navbar-6-ul{
    display: flex;
    gap: 30px;
}
.navbar-6-ul li{
    list-style: none;
}
.navbar-6-sign-up-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-wrap: nowrap;
}
.navbar-6-sign-up-btn:hover{
    background-color: #0069d9;
}
.navbar-6-sign-up-btn:active{
    background-color: #0062cc;
}
.navbar-6-line{
    width: 100%;
    height: 3px;
    background-color: #bebebe;
    margin: 0 10px;
    border-radius: 1.5px;
}

/*! Navbar-7 */

.navbar-7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
    background: linear-gradient(45deg, #D1A2C2, #7069D2);
    gap: 100px;
    height: 80px;
    
}

.navbar-7-circles{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.navbar-7-circle-1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8173D8;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbar-7-circle-2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8172D9;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbar-7-circle-3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #414CED;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbar-7-brand-name{
    font-size: 20px;
    font-weight: 500;
    color: #F7B9B7;
    border: 1px solid #4E51E2;
    padding: 9px 200px;
    border-radius: 20px;
    text-wrap: nowrap;
    display: flex;
    gap: 10px;
}
.navbar-7-ul{
    display: flex;
    gap: 40px;
    color: #F7B9B7;

}
.navbar-7-ul li{
    list-style: none;
}   

.navbar-7-sign-up-btn{
    padding: 10px 20px;
    background-color: #414CED;
    color: #ffdfdd;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-wrap: nowrap;
}

.navbar-7-sign-up-btn:hover{
    background-color: #3A3BE2;
}

.navbar-7-sign-up-btn:active{
    background-color: #3237D2;
}

/*! Navbar-8 */

.navbar-8{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    position: relative;
    padding: 0 90px;
}

.navbar-8-brand-name{
    font-size: 20px;
    height: 110px;
    width: 25%;
    margin-left: -90px;
    background-color: #292929;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-8-ul{
    display: flex;
    gap: 30px;
}

.navbar-8-ul li{
    list-style: none;
    color: #fff;
    font-size: 18px;    

}
.navbar-8-sign-up-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: #DBFE01;
    color: #292929;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-8-sign-up-btn:hover{
    background-color: #b8d816;
}

.navbar-8-sign-up-btn:active{
    background-color: #92ac0d;
}

/*! Navbar-9 */

.navbar-9 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
  gap: 200px;
  height: 100px;
}

.navbar-9-brand-name {
  font-size: 35px;
  font-weight: 1000;
  color: #0062cc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-9-ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.navbar-9-ul li {
  list-style: none;
  text-decoration: none;
  background-color: #0062cc;
  padding: 20px;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.navbar-9-ul li:hover {
  background-color: #0057b9;
}

.navbar-9-ul li:active {
  background-color: #004da9;
}


/*! Navbar-10 */

.navbar-10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 0 100px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.navbar-10-brand-name {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.navbar-10-square-1 {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #ff6a00;
  transform: rotateZ(45deg);
  box-shadow: 5px 5px 20px #a8a8a8;
  margin-left: -100px;
}

.navbar-10-right-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.navbar-10-ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  z-index: 2;
  color: #fff;
}

.navbar-10-ul li {
  list-style: none;
}

.navbar-10-square-2 {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #ff6a00;
  transform: rotateZ(-45deg);
  box-shadow: 5px 5px 20px #a8a8a8;
  right: 0;
  z-index: 0;
}

/*! Navbar 11 */

.navbar-11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-11-brand-name {
  font-weight: 500;
  font-family: "Brush Script MT", sans-serif;
  font-size: 70px;
}

.navbar-11-line {
  width: 100%;
  height: 2px;
  background-color: #007bff;
  margin: 20px 0;
}

.navbar-11-ul {
  display: flex;
  gap: 200px;
}

.navbar-11-ul li {
  list-style: none;
  text-decoration: none;
  color: #002751;
  transition: color 0.3s ease;
}


/*! Navbar-12 */
.navbar-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.navbar-12-left-section,
.navbar-12-middle-section,
.navbar-12-right-section {
  flex: 1;
}

.navbar-12-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.5em;
}

.navbar-12-logo svg {
  margin-right: 0.5em;
}

.navbar-12-middle-section {
  display: flex;
  justify-content: center;
}

.navbar-12-middle-section a {
  margin: 0 1em;
  color: #ecf0f1;
  text-decoration: none;
}

.navbar-12-right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-12-right-section input {
  margin-right: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 3px;
}

.navbar-12-profile-dropdown {
  position: relative;
  text-decoration: none;
}

.navbar-12-profile-dropdown .navbar-12-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #34495e;
  padding: 1em;
  border-radius: 3px;

}

.navbar-12-profile-dropdown:hover .navbar-12-dropdown-content {
  display: block;
}
.navbar-12-dropdown-content{
  display: flex;
  gap: 50px;
}
.navbar-12-dropdown-content a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
  margin: 0.9em 0;


}
.navbar-12-sign-up-btn{
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  color: #ecf0f1;
  background-color: #2c3e50;
  cursor: pointer;
}
.navbar-12-search-bar{
  background-color: #435d77;
}

.navbar-12-search-bar::placeholder{
  color: white;
  opacity: .6;
}


/* Navbar 13 */
.navbar-13 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  background-color: #1E1E1E;
  color: #FFD700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-13 a {
  color: #FFD700;
  text-decoration: none;
}

.navbar-13-left-section {
  display: flex;
  align-items: center;
}

.navbar-13-logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-right: 1em;
  font-weight: 1000;
}

.navbar-13-logo svg {
  margin-right: 0.5em;
}

.navbar-13-left-section input {
  padding: 0.7em;
  border: none;
  border-radius: 40px;
  width:200px;
  background-color: #333;
  color: #FFD700;
}

.navbar-13-left-section input::placeholder {
  color: #999;
}
.navbar-13-middle-section {
  display: flex;
  justify-content: center;
}

.navbar-13-middle-section a {
  margin: 0 1em;
  font-size: 1em;
  position: relative;
}

.navbar-13-middle-section a:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ea735e;
}

.navbar-13-right-section {
  display: flex;
  align-items: center;
}

.navbar-13-notification,
.navbar-13-cart {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
}

.navbar-13-notification svg,
.navbar-13-cart svg {
  width: 24px;
  height: 24px;
}

.navbar-13-profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-13-profile-dropdown a {
  display: flex;
  align-items: center;
}

.navbar-13-profile-dropdown .navbar-13-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navbar-13-profile-dropdown:hover .navbar-13-dropdown-content {
  display: block;
}

.navbar-13-dropdown-content a {
  display: block;
  margin: 0.5em 0;
  color: #FFD700;
  text-decoration: none;
}

.navbar-13-dropdown-content a:hover {
  color: #FF6347;
}

@media (max-width: 768px) {
  .navbar-13 {
    flex-wrap: wrap;
  }

  .navbar-13-middle-section {
    order: 3;
    width: 100%;
    justify-content: space-around;
    margin-top: 1em;
  }

  .navbar-13-right-section {
    order: 2;
    flex-wrap: wrap;
  }

  .navbar-13-left-section input {
    margin-bottom: 1em;
  }
}
