*,
*::after,
*::before {
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

.division {
    width: 100%;
    height: 100px;
}

/*! NAVBAR-1 */
.header-1 {
    width: 100%;
    /* box-shadow: 5px 5px 10px rgb(227, 227, 227); */
    border-bottom: 1px solid rgb(187, 187, 255);
}

.navbar-1 {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: auto 150px;
    align-items: center;
    height: 70px;
}

.navbar-1-ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.navbar-1-ul li {
    cursor: pointer;
}

.navbar-1-ul li:hover {
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

.navbar-1-ul li:active {
    border-bottom: 1px solid rgb(187, 187, 255);
    margin-bottom: -1px;
}

.navbar-1-brand-name {
    font-size: 23px;
    font-weight: 800;
    cursor: pointer;
}

.navbar-1-sign-up-btn {
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(187, 187, 255);
    padding: 13px 23px;
    border-radius: 30px;
    color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}

.navbar-1-sign-up-btn:hover {
    background-color: rgb(173, 173, 253);
}

.navbar-1-sign-up-btn:active {
    background-color: rgb(149, 149, 250);
}


/*! NAVBAR-2 */
.header-2 {
    width: 100%;
    box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
    border-radius: 10px;
    position: relative;
}

.navbar-2 {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
    padding: 10px;
    color: #343434;
}

.navbar-2-brand-name {
    font-size: 23px;
    font-weight: 800;
    cursor: pointer;
    color: transparent;
    background-image: linear-gradient(45deg, #7a14c1, #d011aa);
    background-clip: text;
    opacity: 0.55;
    -webkit-background-clip: text;
    transition: color 0.1s ease;
    box-shadow: 0 0 0 0 linear-gradient(45deg, #7a14c1, #d011aa);
}

.navbar-2-sign-up-btn {
    font-weight: 700;
    cursor: pointer;
    color: transparent;
    background-image: linear-gradient(45deg, #7a14c1, #d011aa);
    background-clip: text;
    opacity: 0.55;
    -webkit-background-clip: text;
    transition: color 0.1s ease;
    box-shadow: 0 0 0 0 linear-gradient(45deg, #7a14c1, #d011aa);
    position: relative;
    transition: opacity 0.3s ease;
}

.navbar-2-sign-up-btn::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: conic-gradient(from 90deg at 20% -25%, #7a14c1, #d011aa);
    filter: blur(20px);
    transform: translate3d(-1px, 0px, -1px);
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-2-sign-up-btn:hover::after {
    opacity: 0.425;
}

.navbar-2-sign-up-btn:hover {
    opacity: 0.735;
}

.navbar-2-sign-up-btn:active {
    opacity: 1;
}

.navbar-2-ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    cursor: pointer;
}

.navbar-2-ul li:hover {
    color: transparent;
    background-image: linear-gradient(45deg, #7a14c1, #d011aa);
    background-clip: text;
    opacity: 0.75;
    -webkit-background-clip: text;
    transition: color 0.1s ease;
    box-shadow: 0 0 0 0 linear-gradient(45deg, #7a14c1, #d011aa);
}

/*! NAVBAR-3 */
.header-3 {
    width: 100%;
    box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
    position: relative;
    background-color: #343434;
    color: #fff;
}

.navbar-3 {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
    padding: 10px;
}

.navbar-3-brand-name {
    font-size: 23px;
    font-weight: 1000;
    cursor: pointer;
    color: #fff;
}

.navbar-3-ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    cursor: pointer;
    font-size: 15px;
    color: #ecebeb;
    font-weight: 500;
}

.navbar-3-ul li {
    transition: all 0.2s ease;
}

.navbar-3-ul li:hover {
    color: #d1d1d1;
}

.navbar-3-sign-up-btn {
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 140, 175);
    padding: 12px 30px;
    border-radius: 90px;
    transition: all 0.3s ease;
}

.navbar-3-sign-up-btn:hover {
    background-color: rgb(0, 128, 167);
}

.navbar-3-sign-up-btn:active {
    background-color: rgb(0, 116, 155);
}

/*! NAVBAR-4 */

.header-4 {
    width: 100%;
    box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
    position: relative;
    background-color: #343434;
    color: #fff;
}

.navbar-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 130px;
}

.navbar-4-ul {
    display: flex;
    gap: 50px;
}

.navbar-4-ul li {
    list-style: none;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar-4-brand-name {
    font-size: 24px;
    font-weight: 1000;
}

.navbar-4-sign-up-btn {
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 140, 175);
    padding: 12px 30px;
    border-radius: 90px;
    transition: all 0.3s ease;
}

.navbar-4-sign-up-btn:hover {
    background-color: rgb(0, 128, 167);
}

.navbar-4-sign-up-btn:active {
    background-color: rgb(0, 116, 155);
}

/*! Navbar 5 */
.navbar-5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}
.navbar-5-brand-name{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;    
}
.mslogo{
    width: 110px;
}
.logo-divider-line{
    width: 2px;
    height: 33px;
    background-color: #000;
}
.xboxlogo{
    width: 80px;
}
.navbar-5-ul{
    display: flex;
    gap: 30px;
}
.navbar-5-ul li{
    list-style: none;
}
.account{
    display: flex;
}
.account-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}

/*! Navbar 6 */

.navbar-6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-6-brand-name{
    padding: 20px 70px;
    box-shadow: 1px 0 15px #d7d7d7;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    font-weight: 800;
    color: #525252;
    text-wrap: nowrap;
}

.navbar-6-contents{
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 2px 15px #d7d7d7;
    padding: 5px 100px;
    border-radius: 20px 0 0 20px;
}
.navbar-6-ul{
    display: flex;
    gap: 30px;
}
.navbar-6-ul li{
    list-style: none;
}
.navbar-6-sign-up-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-wrap: nowrap;
}
.navbar-6-sign-up-btn:hover{
    background-color: #0069d9;
}
.navbar-6-sign-up-btn:active{
    background-color: #0062cc;
}
.navbar-6-line{
    width: 100%;
    height: 3px;
    background-color: #bebebe;
    margin: 0 10px;
    border-radius: 1.5px;
}

/*! Navbar-7 */

.navbar-7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
    background: linear-gradient(45deg, #D1A2C2, #7069D2);
    gap: 100px;
    height: 80px;
    
}

.navbar-7-circles{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.navbar-7-circle-1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8173D8;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbar-7-circle-2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8172D9;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbar-7-circle-3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #414CED;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbar-7-brand-name{
    font-size: 20px;
    font-weight: 500;
    color: #F7B9B7;
    border: 1px solid #4E51E2;
    padding: 9px 200px;
    border-radius: 20px;
    text-wrap: nowrap;
    display: flex;
    gap: 10px;
}
.navbar-7-ul{
    display: flex;
    gap: 40px;
    color: #F7B9B7;

}
.navbar-7-ul li{
    list-style: none;
}   

.navbar-7-sign-up-btn{
    padding: 10px 20px;
    background-color: #414CED;
    color: #ffdfdd;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-wrap: nowrap;
}

.navbar-7-sign-up-btn:hover{
    background-color: #3A3BE2;
}

.navbar-7-sign-up-btn:active{
    background-color: #3237D2;
}

/*! Navbar-8 */

.navbar-8{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    position: relative;
    padding: 0 90px;
}

.navbar-8-brand-name{
    font-size: 20px;
    height: 110px;
    width: 25%;
    margin-left: -90px;
    background-color: #292929;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-8-ul{
    display: flex;
    gap: 30px;
}

.navbar-8-ul li{
    list-style: none;
    color: #fff;
    font-size: 18px;    

}
.navbar-8-sign-up-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: #DBFE01;
    color: #292929;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-8-sign-up-btn:hover{
    background-color: #b8d816;
}

.navbar-8-sign-up-btn:active{
    background-color: #92ac0d;
}

/*! Navbar-9 */

.navbar-9 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px 5px rgb(240, 239, 239);
  gap: 200px;
  height: 100px;
}

.navbar-9-brand-name {
  font-size: 35px;
  font-weight: 1000;
  color: #0062cc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-9-ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.navbar-9-ul li {
  list-style: none;
  text-decoration: none;
  background-color: #0062cc;
  padding: 20px;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.navbar-9-ul li:hover {
  background-color: #0057b9;
}

.navbar-9-ul li:active {
  background-color: #004da9;
}
